<%= javascript_include_tag "welcome/index.js" %>
<%= stylesheet_link_tag "welcome/index.css" %>

<div id="page-top">
<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top" id="mainNav">
        <a class="navbar-brand" href="#">Kalvoor Government Higher Secondary School</a>
        <ul class="nav justify-content-sm-end ml-auto">
          <!--  <li class="nav-item active"><a class="nav-link  js-scroll-trigger" href="#page-top">Home</a></li>
            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#events">Upcoming events</a></li>
            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#blogs">Blogs</a></li>
            <li class="nav-item"><a class="nav-link" href="/welcome/login">login</a></li>
            <li class="nav-item"><a class="nav-link" href="/welcome/register">Sign up</a></li>
        -->
            <li class="nav-item active"><a class="nav-link  js-scroll-trigger" href="#page-top">Home</a></li>
            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#principal_space">Principal page</a></li>
            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#contact">Contact Us</a></li>
            
        </ul>         
</nav>

<section id= "home_img">
    <div class= "bgimg-1">
        <div class="caption">
            <span class=""><img  src="assets/scrolldown.jpg"</span>
        </div>
    </div>
</section>

<section id="school_desc">
    <div class="school_desc_text">
        <h3 style="text-align:center;">Kalvoor Government Higher Secondary School</h3>
       
        <p>  കലവൂര്‍ ഗവണ്‍ലമെനയ് ഹയര്‍ ലസെകനറനി സെ യ് ക ‍ൂള
ചരനിതത
ലകരളതനിലല സെന്താമൂഹനിക നലവന്താതന്താന പ്രവര്‍തനങ്ങള ‍ുലടെ പ്രകന്താശത
കലവ ‍ൂരനില്‍ ചലനത ഉണന്താകനി. 1895 ല്‍ ശശ്രീനന്താരന്തായണ ഗ ‍ുര ‍ുവനിലന
സെന്ദര്‍ശനലതന്താടെനുബനനിചയ് നന്താടനിലല പ്രധന്താനനികളന്തായ ലനടെനിയന്താണനി നശ്രീലകണ്ഠന,
ലവല ‍ു ആശന്താന , ലവളനിപ്പറമനില്‍ ക ‍ുഞ്ഞയ്യന ലകന്താച ‍ുക നിടന, എന്നനിവര്‍ ഒര ‍ു
പളനിക ‍ൂടെത ആരതഭനിക ‍ുവന്താന പ്രയതനിക ‍ുകയ ‍ുത ക ‍ുഞ്ഞയ്യന ലകന്താച ‍ുകനിടന
തലന്ന 8.5 ഏകര്‍ സ്ഥലതയ് സെയ് ക ‍ൂള ആരതഭനിക ‍ുകയ ‍ുത ലചയ്ത ‍ു. മെന്താരന്താരനിക ‍ുളത
നന്യ ‍ൂ ലവര്‍ണന്താക ‍ുലര്‍ സെയ് ക ‍ൂള എന്ന ലപരനിലന്താണയ് അതയ് അറനിയലപ്പടതയ്.
ശശ്രീനന്താരന്തായണ ഗ ‍ുര ‍ുവനിലന നനിര്‍ലദ്ദേശന്താന ‍ുസെരണത ക ‍ുഞ്ഞയ്യന ലകന്താച ‍ു കനിടന 1.2
ഏകര്‍ സ്ഥലത സെയ് ക ‍ൂളനിനന്തായനി എഴ ‍ുതനി നല്‍കനി ഓല ലഷെഡനിലന്താണയ് ഒന്നയ് മെ ‍ുതല്‍
നന്താലയ് വലരയ ‍ുള കന്താസ്സ ‍ുകള ആരതഭനിചതയ്. കര ‍ുണന്താകര തണന്താര്‍, ഇടെയ്ക്കണന്താടയ്
ശങ്കരക ‍ുറ ‍ുപ്പയ്, അബ്ദ ‍ുക ‍ുടനി സെന്താഹനിബയ്, സെനിറനില്‍ പ്രസെലനഷെന, രന്താഘവ കകമെള
എന്നനിവരന്താണയ് സെയ് ക ‍ൂളനിലന അഭനിവ ‍ൃദനിക ‍ുലവണനി പ്രവര്‍തനിച പ്രമെ ‍ുഖര്‍. 1930
മെ ‍ുതല്‍ ഈ വനിദന്യന്താലയത മെന്താരന്താരനിക ‍ുളത നന്യ ‍ൂ മെലയന്താളത മെനിഡനില്‍ സെയ് ക ‍ൂളന്തായനി മെന്താറനി.
1953 ല്‍ സെന്താമെ ‍ൂഹനിക പ്രവര്‍തര ‍ുലടെ ശമെഫലമെയനി കലവ ‍ൂര്‍ ഗവണ്‍ലമെനയ് കഹ
സെയ് ക ‍ൂളന്തായനി ഉയര്‍തലപ്പട ‍ു. 8 -ാന്താത കന്താസ്സയ് ആരതഭനിച ‍ു. 1956 ല്‍ ആദന്യ ബന്താചയ് 10
-ാന്താത കന്താസ്സയ് പരശ്രീക്ഷ എഴ ‍ുതനി. 1987 – 1988 ല്‍ ഹയര്‍ ലസെകനറനി വനിഭന്താഗത
പ്രവര്‍തനത ആരതഭനിച ‍ു. 5 -ാന്താത കന്താസ്സയ് മെ ‍ുതല്‍ ഹയര്‍ ലസെകനറനി വലരയ ‍ുള
സെമെ ‍ുചയമെന്താണയ് ഗവ. ഹയര്‍ ലസെകനറനി സെയ് ക ‍ൂള കലവ ‍ൂര്‍ .
അടെനിസ്ഥന്താന സെസൗകരന്യങ്ങള
യ.പനി. മെ ‍ുതല്‍ ഹയര്‍ ലസെകനറനി വലര 30 കന്താസ്സയ് മെ ‍ുറനികള ഉണയ് . ഇതനില്‍
19 എണത കഹലടെകയ് സെതവനിധന്താനത ഉളതന്താണയ്. കതപപ്യൂടര്‍ ലന്താബയ്, സ്റ്റ ‍ുഡനിലയന്താ,
കലബ്രറനി, അ ഡല്‍റനിതഗറനിതഗയ് ലന്താബയ്, ഓഡനിലറന്താറനിയത, കനികറയ് പരനിശശ്രീലന
ലകന്താര്‍ടയ് , ലവന്താളനിലബന്താള ഗസൗണയ്, ശ ‍ുചനി മെ ‍ുറനികള , ഹയര്‍ ലസെകനറനി-കഹ
സെയ് ക്കൂള ലന്താബ ‍ുകള .
സെയ് ക ‍ൂള ലകന്താഡയ് 34006
സ്ഥന്താനത ആലപ്പ ‍ുഴ ജനില്ലയനില്‍ അമലപ്പ ‍ുഴ തന്താല ‍ുകനില്‍
മെണലഞ്ചേരനി ഗന്താമെപഞ്ചേന്തായതനില്‍ , ആലപ്പ ‍ുഴ –
ലചര്‍തല ലദശശ്രീയ പന്താതയനില്‍ കലവ ‍ൂര്‍ ജതഗയ്ഷെന
കനിഴകയ് വശതന്തായനി വനിദന്യന്താലയത സ്ഥനിതനിലചയ്യ ‍ുന്ന ‍ു.
ലമെല്‍വനിലന്താസെത ഗവണ്‍ലമെനയ് ഹയര്‍ ലസെകനറനി സെയ് ക ‍ൂള കലവ ‍ൂര്‍
കലവ ‍ൂര്‍ പനി.ഒ. ആലപ്പ ‍ുഴ. 688522
ലഫന്താണ്‍ നമര്‍ 0477 – 22 92307
ഇ ലമെയനില്‍ 34006alappuzha@gmail.com
വനിദന്യന്താഭന്യന്താസെ ജനില്ല ലചര്‍തല
റവനന്യ ‍ൂ ജനില്ല ആലപ്പ ‍ുഴ
വനിദന്യന്താഭന്യന്താസെ ഉപജനില്ല ലചര്‍തല
        </p>
    </div>
</section>
<section id="students_img">
    <div class="bgimg-2">
        <div class="caption">
            <span class="border ">
                Learning with nature
            </span>
        </div>
    </div>
</section>
<section id="events">
    <div class="relative">
        <div class="cards">
            <h2>Events</h2>
            Watch out this space for upcoming events.

        </div>
    </div>
</section>

<section id="sports_img">
    <div class="bgimg-3">
        <div class="caption">
            <span class="border ">Our champions </span>
        </div>
    </div>
</section>
<!--<section id="blogs">
    <div class="relative">
        <div class="cards">
            <h2>Blogs</h2>

            <div class="card" >
                <img src="https://www.trumba.com/i/DgDctoKBp2NUnKIEuvb24DlB.jpg" alt="Avatar" style="width:100%;">
                <div class="container">
                    <h4><b>Student blogs</b></h4>
                    <span>Blogs and other writings</span>
                </div>
            </div>

            <div class="card">
                <img src="https://www.trumba.com/i/DgCRxF8jpfvOOogJcXjX6U%2A-.jpg" alt="Avatar" style="width:100%;">
                <div class="container">
                    <h4><b>Teachers section</b></h4>
                    <span>Discussion topics and blogs</span>
                </div>
            </div>
        </div>
    </div>
</section>
-->
<section id="principal_space">
    <img class="small_pic" align="left" src="assets/principal.png"></img>
    <span >
        It is with great pleasure that I welcome you to the 2017-2018 school year. I am very excited to serve all of you in my fifth year as your principal. Last school year was a most successful one at every level; academically, athletically and as a school community. As great as the last school year was for Sonora, the 2017-18 school year has the potential to be even better. To do this, your continued help, leadership and support will be needed at our great high school!
    </span>

</section>
<section id="contact">
    <div class="">
     <h4 class="section-heading">Get in touch</h4>
        <div class="row">
            <div class="col-lg-2">
                <i class="fa fa-phone fa-1x">123-456-6789</i>
                <p></p>
             </div>
             <div class="col-lg-2">
                <i class="fa fa-envelope-o fa-1x"><a class="contactus" href="mailto:your-email@your-domain.com">kalavoor@gmail.com</a></i>
                <p>
                </p>
             </div>
             <div class="col-lg-2">
                <i class="fa fa-facebook-square fa-1x"><a class="contactus" href="https://www.facebook.com/Govt-HSS-Kalavoor-286113251417412/">Page</a></i>
                <p>
                </p>
             </div>
        </div>
        <hr>        
        © 2018 Kalavoor Govt. Higher Secondry School
    </div>  
</section>
</div>